<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    


<footer>
    
      
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Numeros ยบ1 en formadores profesionales</p>
            </div>
            <div class="col">
                <p>Seguinos en nuestras redes sociales</p>
                <a href="https://www.instagram.com/cristianlair"><img src="img/inst.svg" alt="Instagram"></a>
                <a href="https://twitter.com/cristianlair"><img src="img/tw.svg" alt="Twitter"></a>
                <a href="https://www.facebook.com/cristian.lair"><img src="img/FB.svg" alt="Facebook"></a>
            </div>
            <div class="col">
                <p>Rcia, Chaco - Argentina</p>
            </div>
        </div>
    </div>

</footer>
</body>
</html>

