<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <section>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-8  col-xl-8">
                <img src="img/facu.png" class="img-fluid rounded-start" alt="NuestraFacu">
              </div>
              <div class="col-md-4">
                <div class="card-body">
                  <h5 class="card-title">Nuestra facultad</h5>
                  <p class="card-text"><p><strong>Nos encontramos en franklin 554</strong> Para brindarte informacion al detalle,y acompañarte en tu crecimiento profesional</p>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-8  col-xl-8" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="img/contacto-1.png" class="img-fluid rounded-start" alt="ImgDeContacto">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Contacto   </h5>
                  <p class="card-text">Seguinos en nuestras redes sociales ubicadas en la parte inferior de la pagina para no perderte la ultima información de las materias.</p>
               
                </div>
              </div>
            </div>
          </div>

          
    </section>

    <%- include('../partials/footer') %>
</body>
</html>