<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facultad de ciencias naturales</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<form class="form-horizontal">
  <label>
    <p class="label-txt">Username</p>
    <input type="text" name="name" class="input">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt"> PASSWORD</p>
    <input type="text" class="input" name="password">
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button type="submit" value="Enviar">Enviar</button>
</form>

    <script src="/JS/registro.js"></script>

    
</body>
</html>